/* Blur images with a specific class */
.blurred-image img {
  filter: blur(35px);
  transition: filter 0.3s ease;
  cursor: pointer;
}

/* Unblur on hover */
.blurred-image img:hover {
  filter: blur(0);
}
